@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: rgba(0, 0, 0, 0.793) !important;
  font-weight: 500 !important
}

p {
  font-weight:600;
  color: rgba(0, 0, 0, 0.684) !important;
}

label {
  font-size: 13px;
  font-weight:600
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  font-weight: 500 !important;
  font-size: 14px !important;
  letter-spacing: 1px;
}

